#welcome-page form label {
    font-size: 20px;
}

#welcome-page form input.form-control {
    font-size: 30px;
}

#welcome-page #vector-car {

    position: absolute;
    bottom: 100px;
    left: 9%;
    /* z-index: -10; */
    height: 200px;
    opacity: .4;
    filter: blur(2px);
}

#modes-of-transport h5 {
    font-size: 1.2em;
}

#modes-of-transport .card-body {
    font-size: .9em;
}